<div class="modal fade" id="disablebackdrop" style="background: #6677;" tabindex="-1" data-bs-backdrop="false">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title">Update Status</h6>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Active Status: <span class="faded-shade col-3"><b>{{paymentStatus}}</b></span></p>
                <span>Payment Status</span>
                <select class="control-field mx-1" [(ngModel)]="paymentStatus">
                    <option *ngFor="let status of paymentStatusList" value={{status?.id}}>{{status?.itemName}}</option>
                </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-success" (click)="updateStatus()"><i class="fa fa-check-circle"></i> Save changes</button>
            </div>
        </div>
    </div>
</div>