<app-page-title [pageTitle]="pageTitle"></app-page-title>
<div class="card">
    <div class="card-header">Add new {{pageTitle}}</div>
    <div *ngIf="pageView.listView">
        <div class="clearfix">           
          <input [(ngModel)]="filterText" type="text" class="control-field mx-2" placeholder="Search something...">
          <app-button btnType="button" btnStyle="btn btn-primary btn-border m-2" btnText="Load Products" iconType="fa fa-spinner" (evtListener)="fetchProducts()"></app-button>    
          <div class="float-end">
              <add-new-button (evtListener)="initProduct()" btnText="New Product"/>
          </div>
        </div>
        <div class="p-2" *blockUI="'loading'">
            <table class="table table-bordered table-striped">
                <thead class="table-light">
                    <tr>
                        <th scope="col">Code</th>
                        <th scope="col">Product</th>
                        <th scope="col">Re-order Level</th>
                        <th scope="col">Product Type</th>
                        <th class="text-end" scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of productList | paginate:{itemsPerPage:pageSize, currentPage:page, totalItems: productList?.length} | filterFilter:filterText; let i = index">
                        <td>{{product.productCode}}</td>
                        <td>{{product.productName}}</td>
                        <td>{{product.reorderLevel}}</td>
                        <td>{{product.productType}}</td>
                        <td>
                            <div class="dropdown float-end">
                                <button class="btn btn-secondary dropdown-toggle btn-border" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                  Choose...
                                </button>
                                <ul class="dropdown-menu">
                                  <li><a href="javascript:void(0)" class="dropdown-item" type="button" (click)="editProduct(product)"><i class="fa fa-edit"></i>Edit</a></li>
                                  <li><a href="javascript:void(0)" class="dropdown-item" type="button" (click)="viewImage(product)" data-bs-toggle="modal" data-bs-target="#productImg" ><i class="fa fa-image"></i>Image</a></li>
                                  <li><a href="javascript:void(0)" class="dropdown-item text-danger" type="button" (click)="deleteProduct(product.id)"><i class="fa fa-remove"></i>Delete</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
         <pagination-controls *ngIf="productList && productList.length > 0" previousLabel="Prev" nextLabel="Next" (pageChange)="page = $event"></pagination-controls>
        </div>
      </div>
      
      <div class="modal fade" id="productImg" style="background: #6677;" tabindex="-1" data-bs-backdrop="false">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title">{{productName}}</h6>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <img [src]="productImage" style="height: 300px;" alt="product Image" [title]="description">
                    <p>
                      <small>{{description}}</small>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="pageView.createView">
    <div class="card-body">
        <form class="pt-2" [formGroup]="productForm" (ngSubmit)="save()">
            <div class="row mb-3">
              <label class="col-sm-2 col-form-label">Product Code</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" formControlName="productCode">
              </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-2 col-form-label">Product Name <span class="fw-100 text-danger">*</span></label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" formControlName="productName">
                </div>
              </div>
            <div class="row mb-3">
                <label class="col-sm-2 col-form-label">Product Type</label>
                <div class="col-sm-10">
                  <select class="control-field w-100" formControlName="productTypeId">
                    <option value="" disabled>Choose...</option>
                    <option selected *ngFor="let type of productTypeList" value={{type?.id}}>{{type?.itemName}}</option>
                </select>
                </div>
              </div>
            <div class="row mb-3">
              <label class="col-sm-2 col-form-label">Re-order Level</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" formControlName="reorderLevel">
              </div>
            </div>
            <div class="row mb-3">
              <label class="col-sm-2 col-form-label">Product Image</label>
              <div class="col-sm-10">
                <input type="file" (change)="onChange($event)" class="form-control" formControlName="productImage">
              </div>
            </div>
            <div class="row mb-3">
              <label class="col-sm-2 col-form-label">Description</label>
              <div class="col-sm-10">
                <textarea class="form-control" formControlName="description"></textarea>
              </div>
            </div>
            
            <div class="text-center">
              <save-button btnType="submit"/>
              <clear-button (evtListener)="clearPage()"/>
              <close-button (evtListener)="closePage()"/>
            </div>
          </form>
    </div>
</div>
</div>