<section class="section">
    <div class="row">
        <div class="col-md-3">
            <a href="javascript:void(0)" routerLink="/admin">
                <div class="card app-card">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                <i class="fa fa-user fa-2x"></i>
                            </div>
                            <div>
                                <h2 class="fw-bold">Administration</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a href="javascript:void(0)" routerLink="/accounts">
                <div class="card app-card">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                <i class="fa fa-book fa-2x"></i>
                            </div>
                            <div>
                                <h2 class="fw-bold">Account</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a href="javascript:void(0)" routerLink="/invoicemaster">
                <div class="card app-card">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                <i class="fa fa-shopping-bag fa-2x"></i>
                            </div>
                            <div>
                                <h2 class="fw-bold">Invoicemaster</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>