<main>
    <div class="container">

      <section class="section error-404 min-vh-100 d-flex flex-column align-items-center justify-content-center">
        <h1 class="link-404-text">404</h1>
        <h2>Page Not Found!</h2>
        <a class="btn" href="/a/index">Back to home</a>
        <img src="https://home.dolphindoors.com/img/logo2.png" class="img-fluid py-5" alt="Page Not Found">
        <div class="mx-auto">
            <a class="link-404" target="_blank" href="https://dolphindoors.com/">Dolphindoors</a>
        </div>
      </section>
    </div>
  </main>