<aside id="sidebar" class="sidebar">

  <ul class="sidebar-nav" id="sidebar-nav">

    <li class="nav-item">
      <a class="nav-link " href="javascript:void(0)">
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-menu-button-wide"></i><span>Management</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="javascript:void(0)" routerLink="/branch">
            <i class="bi bi-circle"></i><span>Branch Setup</span>
          </a>
        </li>
        <li>
          <a href="javascript:void(0)" routerLink="/profile">
            <i class="bi bi-circle"></i><span>Company Profile</span>
          </a>
        </li>
        <li>
          <a href="javascript:void(0)" routerLink="/employees">
            <i class="bi bi-circle"></i><span>Manage Employees</span>
          </a>
        </li>
        <li>
          <a href="javascript:void(0)" routerLink="/reverse">
            <i class="bi bi-circle"></i><span>Reverse Invoice</span>
          </a>
        </li>
      </ul>
    </li><!-- End Components Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-journal-text"></i><span>SMS Master</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="javascript:void(0)">
            <i class="bi bi-circle"></i><span>Form Elements</span>
          </a>
        </li>
        <li>
          <a href="javascript:void(0)">
            <i class="bi bi-circle"></i><span>Form Layouts</span>
          </a>
        </li>
      </ul>
    </li>

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#settings-nav" data-bs-toggle="collapse" href="javascript:void(0)">
        <i class="bi bi-journal-text"></i><span>Settings</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="settings-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="javascript:void(0)" routerLink="/product-type">
            <i class="bi bi-circle"></i><span>Product Type</span>
          </a>
        </li>
        <li>
          <a href="javascript:void(0)">
            <i class="bi bi-circle"></i><span>Form Layouts</span>
          </a>
        </li>
      </ul>
    </li>

    <li class="nav-heading">Pages</li>

    <li class="nav-item">
      <a class="nav-link collapsed" href="javascript:void(0)">
        <i class="bi bi-person"></i>
        <span>Profile</span>
      </a>
    </li>

  </ul>

</aside>