<aside id="sidebar" class="sidebar">

  <ul class="sidebar-nav" id="sidebar-nav">

    <li class="nav-item">
      <a class="nav-link " href="javascript:void(0)" [routerLink]="isAdmin ? '/admin' : '/i/invoicemaster'">
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
      </a>
    </li>

    <li class="nav-item" *ngIf="isAdmin">
      <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-menu-button-wide"></i><span>Management</span><i class="bx bxs-chevron-down ms-auto"></i>
      </a>
      <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="javascript:void(0)" routerLink="/branch">
            <i class="fa fa-check-circle"></i><span>Branch Setup</span>
          </a>
        </li>
        <li>
          <a href="javascript:void(0)" routerLink="/profile">
            <i class="fa fa-check-circle"></i><span>Company Profile</span>
          </a>
        </li>
        <li>
          <a href="javascript:void(0)" routerLink="/employees">
            <i class="fa fa-check-circle"></i><span>Manage Employees</span>
          </a>
        </li>
        <li>
          <a href="javascript:void(0)" routerLink="/saleslead">
            <i class="fa fa-check-circle"></i><span>Sales Lead</span>
          </a>
        </li>
        <li>
          <a href="javascript:void(0)" routerLink="/permissions">
            <i class="fa fa-check-circle"></i><span>Permissions</span>
          </a>
        </li>
        <li>
          <a href="javascript:void(0)" routerLink="/reverse">
            <i class="fa fa-check-circle"></i><span>Reverse Invoice</span>
          </a>
        </li>
        <li>
          <a href="javascript:void(0)" routerLink="/product-type">
            <i class="fa fa-check-circle"></i><span>Product Type</span>
          </a>
        </li>
        <li>
          <a href="javascript:void(0)" routerLink="/tax-management">
            <i class="fa fa-check-circle"></i><span>Tax Management</span>
          </a>
        </li>
        <li>
          <a href="javascript:void(0)" routerLink="/saleslog">
            <i class="fa fa-check-circle"></i><span>Sales Log</span>
          </a>
        </li>
        <li>
          <a href="javascript:void(0)" routerLink="/appconfig">
            <i class="fa fa-check-circle"></i><span>App Config</span>
          </a>
        </li>
      </ul>
    </li>

    <li class="nav-item" *ngIf="isAdmin">
      <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-journal-text"></i><span>SMS Master</span><i class="bx bxs-chevron-down ms-auto"></i>
      </a>
      <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="javascript:void(0)" routerLink="single-message">
            <i class="fa fa-check-circle"></i><span>Single Messaging</span>
          </a>
        </li>
        <li>
          <a href="javascript:void(0)" routerLink="bulk-message">
            <i class="fa fa-check-circle"></i><span>Bulk Messaging</span>
          </a>
        </li>
        <li>
          <a href="javascript:void(0)" routerLink="group-contact">
            <i class="fa fa-check-circle"></i><span>Group Contacts</span>
          </a>
        </li>
        <li>
          <a href="javascript:void(0)" routerLink="sms-group">
            <i class="fa fa-check-circle"></i><span>Create Group</span>
          </a>
        </li>
        <li>
          <a href="javascript:void(0)" routerLink="/message-template">
            <i class="fa fa-check-circle"></i><span>Message Template</span>
          </a>
        </li>
      </ul>
    </li>

    <li class="nav-item" *ngIf="isAdmin">
      <a class="nav-link collapsed" data-bs-target="#account-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-journal-text"></i><span>Accounting</span><i class="bx bxs-chevron-down ms-auto"></i>
      </a>
      <ul id="account-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="javascript:void(0)">
            <i class="fa fa-check-circle"></i><span>Chat of Account</span>
          </a>
        </li>
      </ul>
    </li>

    <!-- <li class="nav-heading">Pages</li> -->

    <!-- <li class="nav-item">
      <a class="nav-link collapsed" href="javascript:void(0)">
        <i class="bi bi-person"></i>
        <span>Profile</span>
      </a>
    </li> -->

  </ul>

</aside>