<app-page-title [pageTitle]="pageTitle"></app-page-title>
<div class="card">
    <div class="card-body">
        <ul class="nav nav-tabs nav-tabs-bordered" id="borderedTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#bordered-home"
                    type="button" role="tab" aria-controls="home" aria-selected="true">Payment Info</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#bordered-profile"
                    type="button" role="tab" aria-controls="profile" aria-selected="false">Delivery Info</button>
            </li>
        </ul>
        <div class="tab-content pt-2" id="borderedTabContent">
            <div *blockUI="'loading'" class="tab-pane fade show active" id="bordered-home" role="tabpanel" aria-labelledby="home-tab">
                <form [formGroup]="searchForm" (ngSubmit)="searchPayment()">
                <div class="row-field mb-3">
                        <div>
                            <span>Status</span>
                            <select class="control-field mx-1"  style="display: inline; width:auto" formControlName="paymentStatus">
                                <option selected="true" disabled="true" [ngValue]="'Choose...'"></option>
                                <option *ngFor="let payment of paymentStatusList" value={{payment?.id}}>{{payment?.itemName}}</option>
                            </select>
                        </div>
                        <div class="mx-2">
                            <span>From: </span>
                            <input class="mx-1 form-control" style="display: inline; width:auto" type="date" formControlName="fromDate">
                        </div>
                        <div>
                            <span>To: </span>
                            <input class="mx-1 form-control" style="display: inline; width:auto" type="date" formControlName="toDate">
                        </div>
    
                        <div class="mx-2">
                            <button class="btn btn-light btn-border mx-2" type="submit"><i class="fa fa-check-circle"></i>&nbsp;Search</button>
                            <button class="btn btn-secondary" type="button" (click)="clear()"><i class="fa fa-remove"></i>&nbsp;Clear</button>
                        </div>
                        <div class="pt-2">
                            <label class="faded-shade pb-2 py-2">Count: {{paymentDataList ? paymentDataList.length : 2}}</label>
                        </div>
                        <div class="pt-2">
                            <label class="faded-shade pb-2 py-2">Total Amt: {{sumTotalAmount ? (sumTotalAmount | number) : 0}}</label>
                        </div>
                    </div>
                </form>

                <div>
                    <table class="table table-bordered table-striped">
                        <thead class="table-light">
                            <tr>
                                <th scope="col">Date</th>
                                <th scope="col">Client/Invoice No.</th>
                                <th class="text-end" scope="col">Total Amount</th>
                                <th class="text-end" scope="col">Partial Amount</th>
                                <th class="text-end" scope="col">Amount Left</th>
                                <th class="text-end" scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let payment of paymentDataList; let i = index">
                                <td>{{payment.valueDate}}</td>
                                <td>{{payment.clientName +'-'+ payment.proformaInvoice}}</td>
                                <td class="text-end">{{payment.totalAmount | number}}</td>
                                <td class="text-end">{{payment.partialAmountPaid | number}}</td>
                                <td class="text-end">{{(payment.totalAmount - payment.partialAmountPaid) | number}}</td>
                                <td>
                                    <div class="dropdown float-end">
                                        <button class="btn btn-secondary dropdown-toggle btn-border" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                          Choose...
                                        </button>
                                        <ul class="dropdown-menu">
                                          <li><a href="javascript:void(0)" class="dropdown-item" type="button" data-bs-toggle="modal" data-bs-target="#report" (click)="generateWaybill(payment)"><i class="fa fa-file-pdf-o"></i> Waybill</a></li>
                                          <!-- <li><a href="javascript:void(0)" class="dropdown-item" type="button"><i class="fa fa-envelope"></i> SMS</a></li> -->
                                          <li><a href="javascript:void(0)" class="dropdown-item" type="button" data-bs-toggle="modal" (click)="editPaymentStatus(payment.id)" data-bs-target="#paymentModal"><i class="fa fa-edit"></i>Edit</a></li>
                                          <li><a href="javascript:void(0)" class="dropdown-item text-danger" type="button" (click)="deletePaymentData(payment.id)"><i class="fa fa-remove"></i>Delete</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div *blockUI="'loading'" class="tab-pane fade" id="bordered-profile" role="tabpanel" aria-labelledby="profile-tab">
                <div class="row-field mb-3">
                    <div>
                        <span>Status</span>
                        <select class="control-field mx-1" style="display: inline; width:auto" [(ngModel)]="deliveryStatus">
                            <option selected="true" disabled="true" [ngValue]="'Choose...'"></option>
                            <option *ngFor="let delivery of deliveryStatusList" value={{delivery?.id}}>{{delivery?.itemName}}
                            </option>
                        </select>
                    </div>

                    <div class="mx-2">
                        <button class="btn btn-light btn-border mx-2" type="button" (click)="fetchByDeliveryStatus()"><i class="fa fa-check-circle"></i>&nbsp;Search</button>
                        <button class="btn btn-secondary" type="button" (click)="clearDelivery()"><i class="fa fa-remove"></i>&nbsp;Clear</button>
                    </div>
                    <div class="pt-2">
                        <label class="faded-shade pb-2 py-2">Count: {{paymentDataDeliveryList ? paymentDataDeliveryList.length : 0}}</label>
                    </div>
                </div>
                <div>
                    <table class="table table-bordered table-striped">
                        <thead class="table-light">
                            <tr>
                                <th scope="col">Date</th>
                                <th scope="col">Client</th>
                                <th scope="col">Delivery Address</th>
                                <th class="text-end" scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let delivery of paymentDataDeliveryList; let i = index">
                                <td>{{delivery.valueDate}}</td>
                                <td>{{delivery.clientName}}</td>
                                <td>{{delivery.deliveryAdress}}</td>
                                <td *ngIf="delivery.deliveryStatus === 'PENDING_DELIVERY'"><button class="btn btn-primary btn-sm float-end" type="button" (click)="updateDeliveryStatus(delivery.id)"><i class="fa fa-check-circle"></i>&nbsp;Update to delivered</button></td>
                                <td *ngIf="delivery.deliveryStatus === 'FULLY_DELIVERED'" class="text-end "><span class="text-success fw-bold">FULLY_DELIVERED</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <app-pdf-viewer></app-pdf-viewer>
    <app-payment-status 
        [paymentStatusList]="paymentStatusList" 
        [paymentDataId]="paymentDataId" 
        [paymentStatus]="paymentStatus">
    </app-payment-status>
</div>