<app-header></app-header>
<app-sidebar></app-sidebar>
<main id="main" class="main">
    <div class="pagetitle">
        <h1>Dashboard</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)" routerLink="/i/invoicemaster">Home</a></li>
                <li class="breadcrumb-item active">Dashboard</li>
            </ol>
        </nav>
    </div>
    <section class="section dashboard">
        <router-outlet></router-outlet>
    </section>
</main>
<!-- <div style="height: 48vh;"></div> -->
<!-- <app-footer></app-footer> -->