<div class="modal fade" id="disablebackdrop" style="background: #6677;" tabindex="-1" data-bs-backdrop="false">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title">Set password for {{fullname}}</h6>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Email Address: <span class="faded-shade col-3"><b>{{emailAddress}}</b></span></p>
                  <div class="row mb-3">
                    <label class="col-sm-3 col-form-label">Password</label>
                    <div class="col-sm-9">
                      <input type="password" placeholder="Enter password" class="form-control" [(ngModel)]="password">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-success" (click)="save()"><i class="fa fa-check-circle"></i> Save Changes</button>
            </div>
        </div>
    </div>
</div>